@media (max-width:991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: var(--dark)
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0
    }
}

@media (min-width:992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1
    }
}

@media (max-width: 767.98px) {
    .back-to-top {
        width: 1.8rem; /* Smaller width */
        height: 1.9rem; /* Smaller height */
        right: 0.6rem; 
        bottom: 0.8rem;
        display: flex; /* Enable flexbox */
        align-items: center; /* Center vertically */
        justify-content: center; /* Center horizontally */
    }

    .back-to-top i {
        font-size: 1.2rem; /* Slightly smaller icon size */
    }
}
