.team-item img {
    position: relative;
    top: 0;
    transition: .5s
}

.team-item:hover img {
    top: -30px
}

.team-item .team-text {
    position: relative;
    height: 100px;
    transition: .5s
}

.team-item:hover .team-text {
    margin-top: -60px;
    height: 160px
}

.team-item .team-text .team-social {
    opacity: 0;
    transition: .5s
}

.team-item:hover .team-text .team-social {
    opacity: 1
}
.team-social{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
