.testimonial-carousel::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to right, rgba(var(--light-rgb), 1) 0%, rgba(var(--light-rgb), 0) 100%);
    z-index: 1
}

.testimonial-carousel::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background: linear-gradient(to left, rgba(var(--light-rgb), 1) 0%, rgba(var(--light-rgb), 0) 100%);
    z-index: 1
}

.testimonial-carousel .owl-item .testimonial-text {
    background: var(--light);
    transform: scale(.8);
    transition: .5s
}

.testimonial-carousel .owl-item.center .testimonial-text {
    background: #0d6efd;
    transform: scale(1)
}

.testimonial-carousel .owl-item .testimonial-text *,
.testimonial-carousel .owl-item .testimonial-item img {
    transition: .5s
}

.testimonial-carousel .owl-item.center .testimonial-text * {
    color: var(--light) !important
}

.testimonial-carousel .owl-item.center .testimonial-item img {
    background: #0d6efd !important;
}